/* This will be where the style gets snazzy*/
/* For this I will be using my all-time favorite color scheme
   Hopefully get it to match and look nice */
/* https://github.com/morhetz/gruvbox */

h1 {
    color: #CC241D;
    color: rgba(204, 36, 29, 1);
}

h2 {
    color: #98971a;
}

h3 {
    color: #458588;
}


li,p,label {
    color: #a89984;
}

body {
    background-color: #282828;
}

input {
    color: #b16286;
    background-color: #3c3836;
    border-color: #504945;
}


/* This section is for class styles */
.attending {
    text-align: center;
}
