/* This will be where the style gets snazzy*/
/* For this I will be using my all-time favorite color scheme
   Hopefully get it to match and look nice */
/* https://github.com/morhetz/gruvbox */

h1 {
    color: #CC241D;
    color: rgba(204, 36, 29, 1);
    font-size: 28px;
}

h2 {
    color: #98971a;
    padding-left: 2vw;
    font-size: 24px;
    margin-top: 15px;
}

h3 {
    color: #458588;
    padding-left: 4vw;
    margin: 5px, 1px, 5px, 1px;
}


li,p,label {
    color: #a89984;
    translate: 5vw;
    font-size: 16px;
    margin: auto;
}

body {
    background-color: #282828;
}

input[type=date] {
    color: #b16286;
    background-color: #3c3836;
    border-color: #504945;
    border-radius: 1px;
    border-style: dashed;
    border-width: 2px;
    translate: 5vw;
    padding: auto, auto, auto, auto;
}


/* This section is for class styles */
.attending {
    padding-left: 5vw;
}